@media screen and (max-width: 550px) {
  #wrapper-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) {
  .sidebar {
    display: block;
  }

  #wrapper-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  header .right-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem; /* Adjust as needed */
  }
  #wrapper-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  #wrapper-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
